/*
Error: Undefined variable: "$light".
        on line 20 of E:\_Frontend\JAVASCROPT course\Breakout-Game\sass\records-page.scss

15: 
16:       &:nth-child(1) {
17:         position: sticky;
18:         top: 0;
19: 
20:         background-color: $light;
21:       }
22: 
23:       &:hover {
24:         background-color: $border-color;
25:       }

Backtrace:
E:\_Frontend\JAVASCROPT course\Breakout-Game\sass\records-page.scss:20
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/install/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/install/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/install/koala/bin/sass:22:in `load'
D:/install/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$light\".\A         on line 20 of E:\_Frontend\JAVASCROPT course\Breakout-Game\sass\records-page.scss\A \A 15: \A 16:       &:nth-child(1) {\A 17:         position: sticky;\A 18:         top: 0;\A 19: \A 20:         background-color: $light;\A 21:       }\A 22: \A 23:       &:hover {\A 24:         background-color: $border-color;\A 25:       }"; }
