* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }
  * button {
    appearance: none; }

body {
  background-color: #b5b5b5;
  color: #444444;
  transition: 0.5s; }

.night-mode {
  transition: 0.5s;
  filter: invert(0.9); }
  .night-mode #cover {
    filter: invert(1); }
  .night-mode #cover {
    filter: invert(1); }

button {
  background-color: white;
  padding: 10px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  color: #444444;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem; }
  button:focus {
    outline: none; }
  button:active {
    transform: scale(0.98); }

.container {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #efefef; }
  .container .banner {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    background-color: #444444;
    color: #efefef;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center; }
    .container .banner.banner-show {
      top: 0; }
  .container .back-btn {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 80px;
    height: 80px; }
    .container .back-btn i {
      transition: 00.2s ease; }
    .container .back-btn:hover i {
      transform: translateX(-3px); }

.container #run-game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .container #run-game-form input {
    line-height: 4rem;
    padding-left: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 3px dotted #cccccc;
    color: #444444;
    transition: 0.4s; }
    .container #run-game-form input::placeholder {
      animation-name: flashingInputPlaceholderText;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
    .container #run-game-form input:focus {
      outline: none;
      transition: 0.4s;
      transform: scale(1.04); }
      .container #run-game-form input:focus::placeholder {
        transition: 0.2s;
        color: #efefef; }
.container #rules-btn {
  position: absolute;
  left: 50px;
  top: 100px; }
.container #color-mode-btn {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 50px; }
.container .rules {
  position: absolute;
  left: -400px;
  top: 0;
  width: 300px;
  min-height: 100vh;
  background-color: #444444;
  color: #efefef;
  transition: all 0.5s ease-in-out;
  padding: 20px;
  font-size: 1.2rem; }
  .container .rules p,
  .container .rules h3 {
    padding-bottom: 20px; }
  .container .rules.show {
    left: 0; }
.container h1 {
  font-size: 7rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 50px; }
.container #run-game-btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  font-style: italic;
  border: 4px solid #cccccc;
  transition: 0.8s ease; }
  .container #run-game-btn:disabled {
    background-color: #efefef; }
    .container #run-game-btn:disabled:hover {
      transition: none; }
  .container #run-game-btn:hover {
    transition: 0.3s;
    transform: rotate(360deg) scale(0.7); }
  .container #run-game-btn:active {
    transform: scale(0.98); }

.container h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-style: italic; }
.container #canvas {
  background-color: white;
  display: block;
  border-radius: 5px;
  position: relative; }
.container .score,
.container .payer_name {
  font-size: 2rem;
  font-weight: bold; }
.container .back-btn {
  position: relative;
  top: 0;
  left: 0; }
.container #pause-game-btn,
.container #start-game-btn,
.container #restart-game-btn {
  width: 200px;
  margin: 20px;
  transition: 0.2s ease; }
  .container #pause-game-btn:disabled,
  .container #start-game-btn:disabled,
  .container #restart-game-btn:disabled {
    background-color: #efefef;
    opacity: 0.5; }
    .container #pause-game-btn:disabled:hover,
    .container #start-game-btn:disabled:hover,
    .container #restart-game-btn:disabled:hover {
      transition: none; }
.container #restart-game-btn {
  width: 70px; }
.container .asside-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  top: 80px; }
  .container .asside-buttons button {
    width: 80px;
    height: 80px;
    margin: 0 0 20px 0;
    font-size: 2rem; }
  .container .asside-buttons i {
    transition: 0.3s; }
  .container .asside-buttons #settings-btn:hover i {
    transition: 0.3s;
    transform: rotate(45deg); }
  .container .asside-buttons #records-btn:hover i {
    transform: translateY(-4px); }
  .container .asside-buttons #settings-btn,
  .container .asside-buttons #records-btn {
    transition: 0.2s ease; }
    .container .asside-buttons #settings-btn:disabled,
    .container .asside-buttons #records-btn:disabled {
      background-color: #efefef;
      opacity: 0.5; }
      .container .asside-buttons #settings-btn:disabled:hover,
      .container .asside-buttons #records-btn:disabled:hover {
        transition: none; }
.container .asside-effect {
  position: absolute;
  top: 50%;
  right: 50px;
  transition: 0.5s;
  font-size: 2rem; }
.container .records-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -100%;
  transition: all 0.5s ease-in-out; }
  .container .records-wrapper.show {
    left: 0; }
  .container .records-wrapper #close-btn {
    position: absolute;
    top: 50px;
    right: 50px; }
.container .fact-container {
  background-color: white;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: -100px;
  max-width: 30%;
  max-height: 100px;
  transition: 0.5s ease-out;
  font-weight: bold; }
  .container .fact-container i {
    float: left;
    font-size: 2rem;
    padding-right: 5px; }
  .container .fact-container.show {
    bottom: 20px; }

.container .settings-btn:disabled,
.container .records-btn:disabled {
  background-color: #efefef;
  opacity: 0.5; }
  .container .settings-btn:disabled:hover,
  .container .records-btn:disabled:hover {
    transition: none; }
.container .settings-from {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .container .settings-from .settings-field {
    padding: 10px;
    font-size: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .container .settings-from .settings-field input {
      display: none; }
      .container .settings-from .settings-field input:checked + label {
        background-color: #cccccc;
        font-weight: bold; }
    .container .settings-from .settings-field label {
      flex-grow: 1;
      cursor: pointer;
      transition: 0.2s ease;
      text-align: center; }
      .container .settings-from .settings-field label:hover {
        background-color: #cccccc; }
  .container .settings-from h3 {
    margin-bottom: 20px;
    font-size: 2.5rem; }
  .container .settings-from .speed-settings-fields,
  .container .settings-from .paddle-settings-fields {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container .settings-from #settings-submit-btn {
    flex-basis: 100%;
    margin-top: 30px; }

.container ul {
  list-style-type: none;
  width: 500px;
  max-height: 600px;
  overflow-y: auto;
  font-size: 1.5rem; }
  .container ul li {
    transition: 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    padding: 13px;
    text-align: center;
    border-bottom: 1px solid #cccccc; }
    .container ul li:nth-child(1) {
      position: sticky;
      top: 0;
      background-color: #efefef; }
    .container ul li:hover {
      background-color: #cccccc; }
    .container ul li.header {
      font-weight: bold;
      z-index: 2; }
    .container ul li span:nth-child(1) {
      flex-basis: 30%; }
    .container ul li span:nth-child(2) {
      flex-basis: 20%;
      text-align: center; }
    .container ul li span:nth-child(3) {
      flex-grow: 1;
      text-align: right;
      position: relative; }
      .container ul li span:nth-child(3) span {
        position: absolute;
        right: 0%;
        bottom: 140%;
        font-size: 0.8rem;
        transition: 0.2s ease; }
    .container ul li:hover .date-col {
      bottom: 80%; }

.music-container {
  border: 2px solid #cccccc;
  display: flex;
  padding: 15px 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 2;
  background-color: white;
  border-radius: 5px; }
  .music-container .banner {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.999;
    z-index: 3;
    background-color: white; }
  .music-container .music-info {
    background-color: #cccccc;
    border-radius: 0px 5px 5px 0;
    position: absolute;
    top: 10%;
    left: -20px;
    width: 100%;
    padding: 10px 20px;
    z-index: 1;
    opacity: 0.5;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in, opacity 0.2s ease-in; }
    .music-container .music-info .progress-container {
      background-color: white;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px 0;
      height: 4px;
      width: 100%; }
      .music-container .music-info .progress-container .progress {
        background-color: #fe8daa;
        border-radius: 5px;
        height: 100%;
        width: 0%;
        transition: width 0.1s linear; }
    .music-container .music-info .h4 {
      white-space: nowrap;
      overflow: hidden; }
  .music-container.play .music-info {
    opacity: 1;
    transform: translateX(calc(100% + 20px)); }
  .music-container.play .img-container img {
    animation-play-state: running; }
  .music-container button {
    border: none; }
  .music-container .img-container {
    position: relative;
    width: 110px; }
    .music-container .img-container::after {
      content: "";
      background-color: white;
      border-radius: 50%;
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, 25%);
      z-index: 4; }
    .music-container .img-container img {
      border-radius: 50%;
      object-fit: cover;
      height: 110px;
      width: inherit;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      animation: rotate 5s linear infinite;
      animation-play-state: paused; }
  .music-container .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3; }
    .music-container .navigation .action-btn-big {
      font-size: 1.5rem; }
    .music-container .navigation .fa-volume-mute {
      width: 27px;
      text-align: left; }
    .music-container .navigation .volume-container {
      background-color: white;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px 0;
      height: 100%;
      width: 7px;
      border: 1px solid #b5b5b5;
      transform: rotate(180deg);
      margin-left: 5px; }
      .music-container .navigation .volume-container .volume {
        background-color: #fe8daa;
        border-radius: 5px;
        height: 0%;
        width: 100%;
        transition: height 0.2s linear; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
