$light: #efefef;
$dark: #444444;
$white: white;
$border-color: #cccccc;
$body-bg: #b5b5b5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  button {
    appearance: none;
  }
}

body {
  background-color: $body-bg;
  color: $dark;
  transition: 0.5s;
}

.night-mode {
  #cover {
    filter: invert(1);
  }

  transition: 0.5s;
  filter: invert(0.9);

  #cover {
    filter: invert(1);
  }
}

button {
  background-color: $white;
  padding: 10px;
  border: 2px solid $border-color;
  border-radius: 5px;
  color: $dark;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

.container {
  min-height: 100vh;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: $light;

  .banner {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    background-color: $dark;
    color: $light;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    transition: all 0.5s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    &.banner-show {
      top: 0;
    }
  }

  .back-btn {
    position: absolute;
    top: 80px;
    left: 50px;

    width: 80px;
    height: 80px;

    i {
      transition: 00.2s ease;
    }

    &:hover {
      i {
        transform: translateX(-3px);
      }
    }
  }
}

.music-container {
  border: 2px solid $border-color;
  display: flex;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 10;

  .music-info {
    background-color: $border-color;
    border-radius: 15px 15px 0 0;

    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 0px 150px;

    opacity: 0;
    transform: translateY(0%);

    transition: transform 0.2s ease-in, opacity 0.2s ease-in;

    .progress-container {
      background-color: $white;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px 0;
      height: 4px;
      width: 100%;

      .progress {
        background-color: #fe8daa;
        border-radius: 5px;
        height: 100%;
        width: 0%;

        transition: width 0.1s linear;
      }
    }
  }

  &.play {
    .music-info {
      opacity: 1;
      transform: translateY(-100%);
    }
    .img-container {
      img {
        animation-play-state: running;
      }
    }
  }

  button {
    // transform: scale(0.5);
    border: none;
  }

  background-color: white;
  border-radius: 5px;

  .img-container {
    position: relative;
    width: 110px;

    &::after {
      content: "";
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, 25%);
    }

    img {
      border-radius: 50%;
      object-fit: cover;
      height: 110px;
      width: inherit;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: rotate 3s linear infinite;

      animation-play-state: paused;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .action-btn-big {
      font-size: 1.5rem;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
