.container {
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-style: italic;
  }
  #canvas {
    background-color: white;
    display: block;
    border-radius: 5px;
    position: relative;
  }

  .score,
  .payer_name {
    font-size: 2rem;
    font-weight: bold;
  }

  .back-btn {
    position: relative;
    top: 0;
    left: 0;
  }
  #pause-game-btn,
  #start-game-btn,
  #restart-game-btn {
    width: 200px;
    margin: 20px;

    transition: 0.2s ease;
    &:disabled {
      background-color: $light;
      opacity: 0.5;

      &:hover {
        transition: none;
      }
    }
  }

  #restart-game-btn {
    width: 70px;
  }

  .asside-buttons {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50px;
    top: 80px;

    button {
      width: 80px;
      height: 80px;
      margin: 0 0 20px 0;

      font-size: 2rem;
    }

    i {
      transition: 0.3s;
    }

    #settings-btn:hover {
      i {
        transition: 0.3s;
        transform: rotate(45deg);
      }
    }

    #records-btn:hover {
      i {
        transition: 0.3s;
        transform: translateY(-4px);
      }
    }

    #settings-btn,
    #records-btn {
      transition: 0.2s ease;

      &:disabled {
        background-color: $light;
        opacity: 0.5;

        &:hover {
          transition: none;
        }
      }
    }
  }

  .records-wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: $light;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -100%;
    transition: all 0.5s ease-in-out;

    &.show {
      left: 0;
    }

    #close-btn {
      position: absolute;
      top: 50px;
      right: 50px;
    }
  }
}
