.container {
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-style: italic;
  }
  #canvas {
    background-color: white;
    display: block;
    border-radius: 5px;
    position: relative;
  }

  .score,
  .payer_name {
    font-size: 2rem;
    font-weight: bold;
  }

  #pause-game-btn,
  #start-game-btn,
  #restart-game-btn {
    width: 200px;
    margin: 20px;
    &:disabled {
      background-color: $light;
      opacity: 0.5;

      &:hover {
        transition: none;
      }
    }
  }

  #restart-game-btn {
    width: 70px;
  }
}
