.container {
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-style: italic;
  }

  #canvas {
    background-color: white;
    display: block;
    border-radius: 5px;
    position: relative;
  }

  .info {
    width: 600px;
    display: flex;
    padding: 5px;

    .score,
    .payer_name {
      font-size: 2rem;
      font-weight: bold;
      flex-basis: 50%;
    }
  }

  .back-btn {
    position: relative;
    top: 0;
    left: 0;
  }

  #pause-game-btn,
  #start-game-btn,
  #restart-game-btn {
    width: 200px;
    margin: 20px;

    transition: 0.2s ease;

    &:disabled {
      background-color: $light;
      opacity: 0.5;

      &:hover {
        transition: none;
      }
    }
  }

  #restart-game-btn {
    width: 70px;
  }

  .asside-buttons {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50px;
    top: 80px;

    button {
      width: 80px;
      height: 80px;
      margin: 0 0 20px 0;

      font-size: 2rem;
    }

    i {
      transition: 0.3s;
    }

    #settings-btn:hover {
      i {
        transition: 0.3s;
        transform: rotate(45deg);
      }
    }

    #records-btn:hover {
      i {
        transform: translateY(-4px);
      }
    }

    #settings-btn,
    #records-btn {
      transition: 0.2s ease;

      &:disabled {
        background-color: $light;
        opacity: 0.5;

        &:hover {
          transition: none;
        }
      }
    }
  }

  .asside-effect {
    position: absolute;
    top: 50%;
    right: 50px;

    transition: 0.5s;
    font-size: 2rem;
  }

  .records-wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: $light;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -100%;
    transition: all 0.5s ease-in-out;

    &.show {
      left: 0;
    }

    #close-btn {
      position: absolute;
      top: 50px;
      right: 50px;
    }
  }

  .fact-container {
    background-color: $white;
    border: 2px solid $border-color;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    max-width: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    transition: all 0s;
    font-weight: bold;

    i {
      float: left;
      font-size: 2rem;
      padding-right: 5px;
    }

    &.show {
      // bottom: 20px;
      transition: all 0.3s ease;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
