.container {
  ul {
    list-style-type: none;
    width: 400px;

    font-size: 1.5rem;

    li {
      &.header {
        font-weight: bold;
      }

      display: flex;

      padding: 10px;
      text-align: center;
      border-bottom: 1px solid $border-color;

      span:nth-child(2) {
        flex-grow: 1;

        text-align: center;
      }

      span:nth-child(1) {
        flex-basis: 20%;
      }
    }
  }
}
